webapp/src/main/java/fr/mb/biblio/webapp/services/livre/livreService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://impl.livreService.soap.biblio.mb.fr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://contract.livreService.soap.biblio.mb.fr/" name="LivreServiceImplService" targetNamespace="http://impl.livreService.soap.biblio.mb.fr/">
  <wsdl:import location="http://192.168.99.100:8081/SOAP/livreService?wsdl=livreService.wsdl" namespace="http://contract.livreService.soap.biblio.mb.fr/">
    </wsdl:import>
  <wsdl:binding name="LivreServiceImplServiceSoapBinding" type="ns1:livreService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insertionExemple">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertionExemple">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertionExempleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FunctionalException">
        <soap:fault name="FunctionalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rechercheLivres">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="rechercheLivres">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="rechercheLivresResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FunctionalException">
        <soap:fault name="FunctionalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="countLivres">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="countLivres">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="countLivresResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dateRetourLivre">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="dateRetourLivre">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="dateRetourLivreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotFoundException">
        <soap:fault name="NotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FunctionalException">
        <soap:fault name="FunctionalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLivreById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLivreById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLivreByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotFoundException">
        <soap:fault name="NotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insert">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FunctionalException">
        <soap:fault name="FunctionalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllLivres">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllLivres">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllLivresResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FunctionalException">
        <soap:fault name="FunctionalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="creationAleatoireLivre">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creationAleatoireLivre">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creationAleatoireLivreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FunctionalException">
        <soap:fault name="FunctionalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LivreServiceImplService">
    <wsdl:port binding="tns:LivreServiceImplServiceSoapBinding" name="LivreServiceImplPort">
      <soap:address location="http://192.168.99.100:8081/SOAP/livreService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>